{% extends 'websites/base.html' %} {% load static %} {% block contentArea %}

<!-- Gallery pages -->
<section class="my-3">
    <div><br>
      <h2 class="text-center">Gallery Pages</h2>
    </div><br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>
        <div class="col-lg-3 col-md-3 col-12">
          <img src="{% static 'images/13.jpg' %}" class="img-fluid pb-3">
        </div>

      </div>
    </div>
</section>
{% endblock %}




