
<!-- Banner Section -->
<section id="banner">
  <div id="carouselExampleCaptions" class="carousel slide"
    data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/a1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Welcome To AjDigital Solution</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text</p>
          <a href="#" class="btn btn-warning">Read More</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/14.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>Web Designing</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text</p>
          <a href="#" class="btn btn-warning">Read More</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/14.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h3>App Development</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text</p>
          <a href="#" class="btn btn-warning">Read More</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions"
      role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions"
      role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</section>
<!-- End Banner Section -->

<!-- About section -->
<section class="my-4">
  <div class="py-3">
    <h2 class="text-center">About Us</h2>
  </div><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <img src="{% static 'images/14.jpg' %}" class="img-fluid aboutimg">
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <h2 class="display-7">I'm website developer</h2>
        <p class="py-2">Recusandae maxime laborum voluptate iure aliquam modi
          officiis cupiditate dignissimos vero illo, excepturi ut tempora earum
          eius? Blanditiis, sint repellat dolorem praesentium ex magnam porro id
          possimus, corrupti placeat non, culpa similique quasi reiciendis
          minima distinctio facere consectetur. Atque esse impedit alias modi.
          Repellendus quo totam alias, necessitatibus expedita sapiente, quae
          laborum vel consectetur, asperiores natus. Quidem, saepe explicabo?</p>
        <a href="about.html" class="btn btn-success"> Check More</a>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <!-- Testomonial -->
      <div class="banner-wrap">
        <div class="pmd-intro-bg-img pmd-intro-gradient"
          style="background-image:url(static/images/a1.jpg);">
          <div class="container" style="color: azure;">
            <div class="pmd-intro-container d-flex row justify-content-center">
              <div class="align-self-center intro-text col-lg-8 text-center">
                <img class="img-fluid pmd-img-sm rounded-circle"
                  src="https://pro.propeller.in/assets/images/Keith-Dowd.png">
                <h1 class="mt-4">Ajit singh</h1>
                <p class="pmd-subtitle">FullStack Developer</p>
                <hr>
                <p class="lead pb-3">
                  For over 3 decades we have remained committed to understand,
                  accept, and meet and exceed the expectation of our customers.
                  We
                  do this by remaining on the bleeding edge of this
                  ever-changing
                  field of hardware-software co-design. The fact that we learn
                  from
                </p>
              </div>
            </div>
          </div>
        </div>
  </div><br><br>

  <!-- Start Service index -->
  <div class="container-fluid">
    <div class="row">
      <div class="our-services">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <!-- <div class="col-3">
                    <i class="fa-brands fa-python" aria-hidden="true"></i>
                  </div> -->
                  <div class="col-9">
                    <h3><a href="#">Web Designing</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <!-- <div class="col-3">
                    <i class="fa fa-code" aria-hidden="true"></i>
                  </div> -->
                  <div class="col-9">
                    <h3><a href="fa-brands fa-python">Web Development</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <!-- <div class="col-3">
                    <i class="fa fa-crop" aria-hidden="true"></i>
                  </div> -->
                  <div class="col-9">
                    <h3><a href="fa-brands fa-python">Python Developer</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <!-- <div class="col-3">
                    <i class="fa fa-wordpress" aria-hidden="true"></i>
                  </div> -->
                  <div class="col-9">
                    <h3><a href="#">E-commerce Developement</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <div class="col-3">
                    <i class="fa fa-id-card-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-9">
                    <h3><a href="#">Digital Marketing</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="service-box">
                <div class="row">
                  <div class="col-3">
                    <i class="fa fa-buysellads" aria-hidden="true"></i>
                  </div>
                  <div class="col-9">
                    <h3><a href="#">Social Media & Ads Designs</a></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry’s
                      standard dummy text…</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Team Section -->
  <section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Our Team</h2>
                <p>Our team section source code we can use it for our clients, customers, testimonials, and any types of the section where we want to describe our people who are working with us</p>
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-warning">
                <div class="member">
                    <img src="{% static 'images/14.jpg' %}" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                            <h4>Ajit Singh</h4>
                            <span>Full Stack Developer</span>
                        </div>
                        <div class="social">
                          <a href="https://www.facebook.com/"><i class='fab fa-facebook-f'></i></a>
                          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <img src="{% static 'images/14.jpg' %}" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                          <h4>Vaibhav Tyagi</h4>
                            <span>Frontend Developer</span>
                        </div>
                        <div class="social">
                          <a href="https://www.facebook.com/"><i class='fab fa-facebook-f'></i></a>
                          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <img src="{% static 'images/14.jpg' %}" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                          <h4>Shubham Kumar</h4>
                          <span>Backend Developer</span>
                        </div>
                        <div class="social">
                          <a href="https://www.facebook.com/"><i class='fab fa-facebook-f'></i></a>
                          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <img src="{% static 'images/14.jpg' %}" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                            <h4>Deepak Saini</h4>
                            <span>Digital Marketing</span>
                        </div>
                        <div class="social">
                          <a href="https://www.facebook.com/"><i class='fab fa-facebook-f'></i></a>
                          <a href="https://in.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>

  {% endblock %}
